
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  background: gray;
   text-align: center;
}

.circle p {
  color: white;
  font-size: 21px;
  font-weight: 600;
}

.button-wrapper {
  margin-top: 90px;
  margin-bottom: 40px;
  text-align:  center;
}

.button-wrapper button {
  color: white;
  background-color: gray;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.button-wrapper button:hover {
  background-color: black;
}

.button-wrapper button:active {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
}
